
    {{!-- about us page --}}
    <div class="container-fluid mt-5 about-style " id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">ABOUT US</h1>
                <p class="text-center sub-heading">grow your business with us</p>
                <div class="row">
                    <div class="col-md-6 col-10 hero-text ">
                        <figure class="image1">
                            <img src="images/im1.jpg" alt="image">
                        </figure>
                    </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                    </div>
                    <h1></h1>
                    <h1> </h1>
                    <P><span class="bold-style"> </span></P>
                    {{!-- <button class="btn-style btn-primary">READ MORE</button> --}}
                </div>
            </div>
        </div>
    </div>