<div class="container-fluid navbar-style  py-3">
    <div class="row">
        <div class="col-mid-10 col-12 mx-auto">
<nav class="navbar navbar-expand-lg navbar-light bg-success  text-light ">
    <a class="navbar-brand text-light " href="/"><h3>WELCOME HOME</h3></a>
    <button class="navbar-toggler" type="button"     data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link text-light" href="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#aboutid">about</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  text-light" href="#servicesid">service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#mapid">gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#contactid">contact</a>
            </li>
        </ul>
    </div>
</nav>
 </div>
</div>
 </div>